dist: xenial
language: rust
compiler:
- clang
rust:
- stable
- beta
- nightly
env:
- PKG_CONFIG_ALLOW_CROSS=1 TARGET=i686-unknown-linux-gnu CXX=/usr/bin/clang++-7 CC=/usr/bin/clang-7
os:
- linux
matrix:
  allow_failures:
  - rust: nightly
  fast_finish: true
  include:
    - env: $TRAVIS_RUST_VERSION = stable # this is the default job
      before_script:
        - rustup component add clippy
      script:
        - cd $TRAVIS_BUILD_DIR/rust
        - cargo clippy --all -- -D clippy::all

addons:
  apt:
    packages:
    - libssl-dev:i386
    - lib32stdc++6
    - lib32z1-dev
    - libc6-dev-i386
    - linux-libc-dev
    - gcc-multilib
    - g++-multilib
    - ninja-build
    - clang-7
    - lld-7
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-xenial-7
install:
- rustup target add $TARGET
- cargo install cargo-sweep || true
before_script:
- $CXX --version
- mkdir -p $TRAVIS_BUILD_DIR/build/debug/rust/$TARGET/debug
- mkdir -p $TRAVIS_BUILD_DIR/build/release/rust/$TARGET/release
- cmake  --version
script:
- cd $TRAVIS_BUILD_DIR/rust
- CARGO_TARGET_DIR=$TRAVIS_BUILD_DIR/build/debug/rust/$TARGET cargo test --verbose --target $TARGET
- CARGO_TARGET_DIR=$TRAVIS_BUILD_DIR/build/release/rust/$TARGET cargo test --verbose --release --target $TARGET

- cd $TRAVIS_BUILD_DIR/build/debug
- cmake $TRAVIS_BUILD_DIR -DCMAKE_BUILD_TYPE=Debug
- make -j1
- sh $TRAVIS_BUILD_DIR/scripts/check_static_linking.sh .

- cd $TRAVIS_BUILD_DIR/build/release
- cmake $TRAVIS_BUILD_DIR -DCMAKE_BUILD_TYPE=Release
- make -j1
after_script:
- sh $TRAVIS_BUILD_DIR/scripts/check_static_linking.sh .
- cargo sweep -t 30
before_deploy:
- mkdir -p $TRAVIS_BUILD_DIR/deploy/addons/amxmodx/modules
- mkdir -p $TRAVIS_BUILD_DIR/deploy/addons/amxmodx/configs
- mkdir -p $TRAVIS_BUILD_DIR/deploy/addons/amxmodx/scripting
- cp $TRAVIS_BUILD_DIR/build/release/*.so $TRAVIS_BUILD_DIR/deploy/addons/amxmodx/modules
- cp $TRAVIS_BUILD_DIR/configs/* $TRAVIS_BUILD_DIR/deploy/addons/amxmodx/configs
- cp $TRAVIS_BUILD_DIR/scripting/* $TRAVIS_BUILD_DIR/deploy/addons/amxmodx/scripting
- cd $TRAVIS_BUILD_DIR/deploy
- tar czf grip-${TRAVIS_TAG}-${TARGET}.tar.gz addons
deploy:
  provider: releases
  api_key:
    secure: jyfb737S81v1tv1s2N7G6vbP72hiIJDP2RW02xX7YVvMR0PmXRmMM/Z4HYdRFxCzrErAF9MGqHG4akkzOZGz/KplOFYRLu54NXlgV+2mEjeJgEpPbMWcSBcqrQbow9ols6nLdMgGHKxIs/L4sY0wgG5m+EFWTVooARJgxD7Faw3RmhnoanSQTyRcnJd5Zu6f38YG2v6VNxfYgNNpr6KPzUajVd/n7s4DgTm/an+eIOK+FafBqByxB4nWWEMw0JCdL+jEBcch/ZXhk4bqM0r+uA/8qQee7HvH2RTXRPI1Ayn/wMr8vkOCIlWuhhLZlTuBlZLDg0Yu7/EAvPugL8jY73qpo50z2AyA53RetGc/FCD6A3XHNqhid/XaYuDLRBB/z133LA28H0K+KONavvxHGqGw+CFPo782R+Z2Rk6MjSfoHxPbvInMWskkckYHM8py87DDA9els3dfeMEqaVBHo08gnDpzD4vkqCt0FHOsxGnrEWXRIP7b8BEWBOdjhq916QO33ZWOm6Z8p1TjxbdWQYfR++GsF0YPpvDcTeCfWY+kqT0y6wzrutfUfQNZBklQxpxdFIirLr6F29fvx4OnVyjNClIgDN94rLSRQ+W/vyOppi6lpC1aq66VUwPCv8cudnK9mqNXtWlAXfjc8PzMF6FpENDE17HTkxvqhFUVaf8=
  file: grip-${TRAVIS_TAG}-${TARGET}.tar.gz
  skip_cleanup: true
  on:
    repo: In-line/grip
# NOTE make sure you only release *once* per target
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
cache:
  cargo: true
  directories:
  - "$TRAVIS_BUILD_DIR/build/release/rust"
  - "$TRAVIS_BUILD_DIR/build/debug/rust"
before_cache:
- chmod -R a+r $HOME/.cargo
- chmod -R a+r $TRAVIS_BUILD_DIR/build/release/rust
- chmod -R a+r $TRAVIS_BUILD_DIR/build/debug/rust
